body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

@media (min-width: 768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}

#demoHeader {
    height: 200px;
    -webkit-background-size: 100% auto;
    background-image: url("../img/Steak-taco.jpg");
    -moz-background-size: 100% auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-box-shadow: rgba(0, 0, 0, 0.20) 0 10px 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.20) 0 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.20) 0 10px 10px;
    margin-top: -20px;
    margin-bottom: 0px;
}

.wrapper {
. make-row();
}

.content-main {
. make-lg-column(8);
}

.content-secondary {
. make-lg-column(3);
. make-lg-column-offset(1);
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
}

.HI {

}